speechrecognition
pyttsx3
pyaudio
python-dotenv
groq
spotipy
pyautogui
pyperclip
pygetwindow
pytesseract
pillow
requests
feedparser
wikipedia-api
deep-translator
psutil
plyer
python-telegram-bot
playsound==1.2.2